@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

$purple: #49117d;

$purple-bg: lighten(rgb(73, 17, 125), 65); // #eddffb

$green: rgb(73, 125, 17);

$error: rgb(170, 0, 0);

html {
    scroll-behavior: smooth;
    user-select: none;

    --purple: #49117d;
    --purple-bg: #eddffb;
}

body {
    position: relative;
    text-wrap: pretty;

    &.modal-open {
        overflow: hidden;
    }
}

small {
    font-size: smaller;
}

.svg {
    display: contents;
    svg {
        vertical-align: middle;
    }
}

button {
    user-select: none;
}

em {
    font-style: italic;
    opacity: 0.85;
}

.full {
    position: absolute;
    inset: 0;
}

a:not(.no-link),
.link {
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
    opacity: 0.8;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
        opacity: 1;
        text-decoration: none;
    }
}

sup {
    vertical-align: super;
    font-size: smaller;
}

:root {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // override default font size
    font-size: 20px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    //border: 0.0125rem solid $purple;
    border-radius: 0.25rem;

    border-top-right-radius: 0.5rem 8rem;
    border-top-left-radius: 8rem 0.5rem;
    border-bottom-right-radius: 8rem 0.5rem;
    border-bottom-left-radius: 0.5rem 8rem;

    // background: linear-gradient(
    //     120deg,
    //     rgba($purple, 0.5) 0%,
    //     rgba($purple, 0.75) 30%,
    //     rgba($purple, 0.75) 70%,
    //     rgba($purple, 0.5) 100%
    // );

    background-color: rgba($purple, 0.125);
    color: $purple;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

.btn-text {
    @extend .link;
    display: inline-block;
    background-color: transparent;
    color: $purple;
    width: fit-content;
    margin-top: 0.25rem;
    margin-left: auto;
    margin-right: auto;
}

.scrollable {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}

.loading-ring {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;

    div {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0.2em solid currentColor;
        border-radius: 50%;
        animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: currentColor transparent transparent transparent;
    }

    div:nth-child(1) {
        animation-delay: -0.45s;
    }
    div:nth-child(2) {
        animation-delay: -0.3s;
    }
    div:nth-child(3) {
        animation-delay: -0.15s;
    }
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    align-items: stretch;
    max-width: 600px;
    margin: 0 auto;
}

.form {
    display: block;
    position: relative;
    text-align: left;

    fieldset {
        display: block;
        margin-top: 1rem;
        pointer-events: inherit;
        position: relative;
        width: 100%;
    }

    search-input {
        position: relative;
        display: block;
        width: 100%;
        height: fit-content;

        svg-search {
            position: absolute;
            left: 0.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            pointer-events: none;
            opacity: 0.5;
        }

        svg-search + input[type='text'] {
            padding-left: 2rem;
        }

        .loader {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0.75rem;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
        }

        input.loading + .loader {
            display: flex;
        }
    }

    label[for] {
        display: block;
        margin-top: 1rem;
        text-align: left;
        user-select: none;

        &:first-child {
            margin-top: 0;
        }
    }

    .description {
        font-size: smaller;
        margin-top: 0.25rem;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='number'],
    textarea {
        display: block;
        width: 100%;
        margin-top: 0.25rem;
        padding: 0.5rem;
        min-width: 6rem;
        border: none;
        border-radius: 0.25rem;
        border-bottom-right-radius: 8rem 0.5rem;
        border-bottom-left-radius: 0.5rem 8rem;
        border-bottom: solid 0.05rem $purple;
        color: $purple !important;
        background-color: rgba(white, 0.65) !important;

        &:-webkit-autofill {
            color: $purple;
            background-color: rgba(white, 0.25);
        }
        &:-internal-autofill-selected {
            color: $purple;
            background-color: rgba(white, 0.25);
        }
        &:-internal-autofill {
            color: $purple;
            background-color: rgba(white, 0.25);
        }

        &:focus-visible {
            border-color: rgba($purple, 0.75);
            background-color: rgba(white, 0.75);

            border-bottom-right-radius: 0.5rem 8rem;
            border-bottom-left-radius: 8rem 0.5rem;
        }

        &.popup {
            cursor: pointer;
        }
    }

    input[type='number'] {
        width: 4rem;
    }

    input[type='radio'] {
        margin-right: 0.25rem;
        border: 1px solid rgba($purple, 0.75);
        border-radius: 100%;
        background-color: white;
        color: $purple;
        width: 1rem;
        height: 1rem;
        cursor: default;
        appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &:checked {
            &:after {
                display: inline-block;
                content: '';
                background: $purple;
                border-radius: 100%;
                width: 0.5rem;
                height: 0.5rem;
            }
        }
    }

    .error {
        display: none;
    }

    &.submitted fieldset:invalid,
    .hasError {
        label[for] {
            color: $error;
        }

        input[type='text'] {
            border-color: $error;
        }

        .error {
            display: block;
            color: $error;
            font-style: italic;
        }

        & + .error {
            display: block;
        }
    }

    .row {
        margin-top: 0.25rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    fieldset.radios {
        margin-top: 1.5rem;
        text-align: center;

        label,
        p {
            text-align: center;
        }

        input {
            display: none;
        }

        label:not([for]) {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0.25rem 1rem;
            border-radius: 0.25rem;
            position: relative;
            font-weight: bolder;

            svg-circle {
                display: contents;
            }

            svg {
                display: none;
                position: absolute;
                width: 150%;
                height: 150%;
                top: -0.5rem;
                left: -25%;
            }

            input:checked + * svg {
                display: block;
            }
        }
    }
}

.cursive {
    font-family: 'Sacramento', cursive;
}

.space-x-1 {
    & > * {
        margin-left: 0.25rem;
    }

    & > *:first-child {
        margin-left: 0;
    }
}

.space-x-2 {
    & > * {
        margin-left: 0.5rem;
    }

    & > *:first-child {
        margin-left: 0;
    }
}

.space-x-3 {
    & > * {
        margin-left: 0.75rem;
    }
    & > *:first-child {
        margin-left: 0;
    }
}

.space-x-4 {
    & > * {
        margin-left: 1rem;
    }
    & > *:first-child {
        margin-left: 0;
    }
}

.polaroid {
    width: 14rem;
    background: #fff;
    padding: 0.5rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
.polaroid > img {
    width: 14rem;
}
.caption {
    font-size: 1rem;
    text-align: center;
    line-height: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.5;
}

[data-group] {
    display: contents;
}

img.bg {
    display: inline-block;
    position: absolute;
}

img {
    max-width: 50%;
    text-align: center;
    margin: 1rem auto;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    :root {
        font-size: 20px;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        font-size: 24px;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    :root {
        font-size: 26px;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    :root {
        font-size: 28px;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background: linear-gradient(
        1780deg,
        rgba($purple-bg, 0.95) 0%,
        rgba(linen, 0.95) 45%,
        rgba(linen, 0.95) 55%,
        rgba($purple-bg, 0.95) 100%
    );
    border-bottom: solid 0.0125rem $purple;
    color: $purple;
    z-index: 11;
}

section {
    --bg-opacity: 0.8;
    --bg-position: bottom left;
    --bg-image: url('/bottom-left.png');
    --bg-color: linen;
    --bg-size: 50vh;

    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    color: $purple;
    text-align: center;
    position: relative;
    border-top: solid 0.125rem rgba(var(--purple), 0.5);
    border-bottom: solid 0.125rem rgba(var(--purple), 0.5);

    &:after {
        content: '';
        @extend .full;
        z-index: -1;
        background-color: var(--bg-color);
        opacity: var(--bg-opacity);
    }

    &:before {
        content: '';
        @extend .full;
        z-index: -2;
        background-image: var(--bg-image);
        background-position: var(--bg-position);
        background-size: var(--bg-size);
        background-repeat: no-repeat;
        background-color: var(--bg-color);
    }

    > h2 {
        font-size: 1.5rem;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    > .content {
        flex-direction: column;
        display: none;
        padding: 0 2rem 1rem;
        background-color: rgba(white, 0.5);

        p {
            margin-top: 0.5rem;
        }

        h3 {
            font-size: 1.25rem;
            margin-top: 1rem;
        }

        h4 {
            font-size: 1rem;
            margin-top: 1rem;
        }
    }

    &:nth-child(2n) {
        --bg-position: top right;
        --bg-image: url('/top-right.png');
        --bg-color: #{$purple-bg};

        > .content {
            background-color: rgba(white, 0.5);
        }
    }

    &.active {
        h2 {
            font-weight: bold;
        }
        > .content {
            display: flex;
        }

        border-top-color: var(--purple);
        border-bottom-color: var(--purple);
    }
}

.song {
    display: block;
    padding: 0 0 1rem;
    text-decoration: none !important;
    color: inherit !important;

    .title {
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .artist {
        display: block;
        margin-top: 0;
        font-size: 0.9rem;
        font-style: italic;
    }
}

section#registry {
    .content {
        flex-direction: column;
        gap: 1rem;
    }
}

section#about {
    .content {
        @media (max-width: 1024px) {
            flex-direction: column;
        }

        align-items: center;
        justify-content: center;
        gap: 3rem;

        .text {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            p {
                font-size: 1rem;
            }
            span {
                white-space: nowrap;
            }
        }

        .polaroid {
            height: auto;
            margin-top: auto;
            margin-bottom: auto;
            transform: rotate(3deg);
            filter: grayscale(100%);
            transition: all 1s;
            &:hover {
                filter: none;
                transform: rotate(0deg);
            }
        }
    }
}

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

svg {
    height: 1em;

    &.spotify {
        vertical-align: sub;
        border-radius: 100%;

        path {
            fill: rgb(25, 20, 20);
        }
    }
}

a-modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 1rem 1rem 1rem;
    z-index: 20;

    > .backdrop {
        position: absolute;
        background-color: rgba(black, 0.58);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    > .body {
        position: relative;
        display: block;
        border: none;
        padding: 0;
        border-radius: 0.5rem;
        background: $purple-bg;
        padding: 1rem;
        color: $purple;
        width: 100%;
        max-width: 20rem;
        height: fit-content;

        .scrollable {
            max-height: 50vh;
        }
    }

    button.close {
        position: absolute;
        display: block;
        top: 0.25rem;
        right: 0.25rem;
        line-height: 1;
        padding: 0.25rem;
        font-size: 0.85rem;
        font-family: sans-serif;
        cursor: pointer;
        color: $purple;
        border-radius: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: rgba($purple, 0.25);
        }
    }

    &#spotify {
        .instructions {
            margin-top: 0.5rem;
            font-size: smaller;
        }

        input::placeholder {
            opacity: 0.5;
            color: $purple;
        }

        .scrollable.results {
            display: flex;
            flex-direction: column;
            &:empty {
                display: none;
            }

            .song {
                cursor: pointer;
                margin: 0.25rem 0;
                padding: 0.25rem 0.5rem;
                background-color: rgba(white, 0.5);
                border-radius: 0.125rem;
            }
        }

        .no-results {
            margin-top: 0.5rem;
            font-size: smaller;
            display: flex;
            align-items: center;
        }
    }
}
